<div id="<%= dom_id employee %>">
  <p>
    <strong>Employee name:</strong>
    <%= employee.employee_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee.gender %>
  </p>

  <p>
    <strong>Hobbies:</strong>
    <%= employee.hobbies %>
  </p>
</div>
